<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
<section>
    <div class="regform">
      <form class="form1" action="/signup" method="POST">
      <h1>REGISTER NOW!</h1>
      <br><br>
         <P> Enter your Name : <input class="txtbox" type="text" name="name" placeholder="Name" id="Name" required> </input><br><br> 
         <P>Enter your Email Id : <input class="txtbox" type="email" name="email" placeholder="Email" id="Email" required> </input><br><br> 
         <P>Contact Details : <input class="txtbox" type="text" name="contact" placeholder="Phn no." id="Contact" required> </input><br><br>
         <div>
          <button name="" type="submit" class="btn btn-dark">Submit</button>
          <button type="button" class="btn btn-outline-dark">Cancel</button>
         </div>            
      </form>
  </div>
</section>
</body>
</html>
  